:root {
  /* Color */
  --white-color: #fff;
  --black-color: #292828;
  --blue-color: #7db8ff;
  --red-color: rgb(212, 27, 27);
  --gray-dark-color: rgb(71, 70, 70);
  --grey-light-color: #9b9b9b;
  /* Size */
  --padding: 12px;
  --avatar-size: 36px;
  /* fonts size */
  --font-large: 15px;
  --font-medium: 12px;
  --font-samll: 9px;
  --font-micro: 6px;
}

li {
  list-style: none;
}

button,
button:focus {
  border: none;
  cursor: pointer;
  outline: none;
}

a {
  text-decoration-line: none;
  color: black;
}

.container {
  display: flex;
  width: 100%;
  margin: 0 auto;
  flex-flow: column wrap;
  font-family: "Pretendard-Regular";
  padding: var(--padding);
}

/*해더*/

header {
  display: flex;
  position: sticky;
  height: 2.5rem;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding);
  background-color: var(--white-color);
}

header .logo i {
  color: var(--red-color);
}

.wrap {
  display: flex;
  flex-wrap: wrap;
}
/*오른쪽 박스*/
.right_wrap {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 40%;
}

article {
  display: flex;
}

article.player {
  display: flex;
  height: 300px;
}

article.player > iframe {
  display: flex;
  width: 100%;
  height: 100%;
}

article.info {
  display: inline-flex;
  flex-direction: column;
  padding: 5px;
}

.info .metadata .titleAndButton {
  display: flex;
}

.info .metadata .titleAndButton .title {
  display: block;
  font-size: var(--font-large);
  margin-right: var(--padding);
}

.info > .title {
  display: inline;
  word-break: normal;
}

.info .metadata .titleAndButton .moreBtn {
  height: 100%;
}

.info .metadata .titleAndButton .moreBtn.clicked {
  transform: rotate(180deg);
  transition: transform 300ms ease-in-out;
}

.info .metadata .titleAndButton i {
  background-color: var(--white-color);
}

.info .views_big {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  background-color: rgb(221, 221, 221);
  border-radius: 15px;
  padding: var(--padding);
}

.info .views_big .hashtags {
  display: flex;
  font-size: var(--font-samll);
  color: var(--gray-dark-color);
  margin: 4px 0;
  gap: 5px;
  flex-wrap: wrap;
}

.info .views_big p {
  font-size: var(--font-micro);
}

/* channel description */
.channel {
  width: 100%;
  display: flex;
  padding: 5px 0;
  align-items: center;
  justify-content: space-between;
}

.channel_right {
  display: flex;
  align-items: center;
}
.channel .metadata {
  display: flex;
  align-items: center;
}

.channel .metadata .info {
  display: flex;    
  flex-direction: column;
}

.channel .metadata img {
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
.channel .metadata .info .name {
  font-size: var(--font-medium);
  width: 120px;
}

.channel .subscribe {
  font-size: var(--font-samll);
  display: inline-block;
}

.channel .subscribe_btn {
  display: flex;
  background-color: var(--black-color);
  color: #fff;
  font-size: var(--font-samll);
  border-radius: 30px;
  display: inline-block;
  width: 2.6125rem;
  height: 1.5625rem;
}

.channel_left {
  display: flex;
  gap: 1.5px;
}

.channel .thumbs-up_btn {
  display: flex;
  background-color: rgb(221, 221, 221);
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  font-size: small;
  align-items: center;
  width: 3.5rem;
  height: 1.5625rem;
  justify-content: center;
  margin-right: 1px;
}

.thumbs-down_btn {
  display: flex;
  background-color: rgb(221, 221, 221);
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  font-size: small;
  width: 1.8rem;
  height: 1.5625rem;
  align-items: center;
  padding-left: 5px;
}
.channel .thumbs-up_btn .thumbs-up_btn_txt {
  font-size: var(--font-micro);
}

.share_btn {
  display: flex;
  background-color: rgb(221, 221, 221);
  border-radius: 20px;
  font-size: small;
  align-items: center;
  width: 3rem;
  height: 1.5625rem;
  justify-content: center;
  margin-right: 0.2px;
  font-size: var(--font-micro);
}

.download_btn {
  display: flex;
  background-color: rgb(221, 221, 221);
  border-radius: 20px;
  font-size: small;
  align-items: center;
  width: 5rem;
  height: 1.5625rem;
  justify-content: center;
  margin-right: 0.2px;
  font-size: var(--font-micro);
}

/*왼쪽 박스*/
.left_wrap {
  display: flex;
  flex-grow: 10;
  flex-shrink: 1;
}

.upNext {
  padding: 0 var(--padding);
}
.upNext > .title {
  display: block;
  font-size: var(--font-medium);
  font-weight: bold;
  color: var(--gray-dark-color);
  margin-bottom: calc(var(--padding) / 2);
  margin-top: 5px;
}

.title_player {
  font-size: var(--font-medium);
  word-break: break-all;
}

.upNext .item {
  display: flex;
  margin-top: var(--padding);
  align-items: flex-start;
}

.youtube_img {
  width: 330px;
  height: 184px;
}

.upNext .item .info {
  display: flex;
  flex-direction: column;
  flex: 1 1 60%;
  padding-left: calc(var(--padding) / 2);
}

.upNext .item .moreBtn {
  flex: 1 1 10%;
  background-color: var(--white-color);
  margin-bottom: 150px;
}

.upNext .item .info .name,
.upNext .item .info .views {
  font-size: var(--font-micro);
  color: var(--gray-dark-color);
  margin-top: 6px;
}

@media all and (min-width: 1024px) {
  .container {
    flex: none;
  }
  .wrap {
    flex: none;
    flex-wrap: nowrap;
  }
}

@media all and (min-width: 550px) and (max-width: 1023px) {
  .container {
    width: 99%;
  }
  .wrap {
    flex-direction: column;
  }
  .all_btn {
    display: block;
  }
}

@media all and (min-width: 0px) and (max-width: 549px) {
  .container {
    width: 99%;
  }
  .wrap {
    flex-direction: column;
  }
  .left_wrap {
    flex-grow: 1;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 40%;
  }
  .item {
    display: flex;
    flex-direction: column;
  }
  .moreBtn {
    display: none;
  }
}
